nxml-mode/schema/x3d-3.0-InputOutputFields.rnc

# #
# # X3D InputOutputFields DTD:
# #
# #	http://www.web3d.org/specifications/x3d-3.0-InputOutputFields.dtd
# #
# #	current version:  3.0.7
# #
# #	revised:          16 July 2004
# #
# #	Author:           Don Brutzman
# #
# # Purpose: the primary Extensible 3D (X3D) Document Type Definition (DTD)
# # is augmented by field definitions in x3d-3.0-InputOutputFields.dtd
# #
# # X3D Specification DTDs:
# #	http://www.web3d.org/specifications/x3d-3.0.dtd
# #	http://www.web3d.org/specifications/x3d-3.0-InputOutputFields.dtd
# #	http://www.web3d.org/specifications/x3d-3.0-Web3dExtensions.dtd
# #
# # Typical system location for this resource is adjacent to x3d-3.0.dtd:
# #	file://c:/www.web3d.org/specifications/x3d-3.0-InputOutputFields.dtd
# #	  file:///www.web3d.org/specifications/x3d-3.0-InputOutputFields.dtd
# #
# # changelog:
# #	http://www.web3d.org/specifications/x3d-dtd-changelog.txt
# #
# # Note on typing:
# #	CDATA used for %SFBool; definitions to allow #FIXED "" initialization,
# #	  since DTD rules otherwise require enumeration values to be 
# #	  initialized to true|false.
# #

namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"

attlist.AudioClip &=
  [ a:defaultValue = "" ] attribute elapsedTime { string "" }?,
  [ a:defaultValue = "" ] attribute duration_changed { string "" }?,
  [ a:defaultValue = "" ] attribute isPaused { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?
attlist.Background &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.BooleanFilter &=
  [ a:defaultValue = "" ] attribute set_boolean { string "" }?,
  [ a:defaultValue = "" ] attribute inputTrue { string "" }?,
  [ a:defaultValue = "" ] attribute inputFalse { string "" }?,
  [ a:defaultValue = "" ] attribute inputNegate { string "" }?
# value_changed is CDATA instead of %SFBool% in order to set empty value on an enumeration
attlist.BooleanSequencer &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?,
  [ a:defaultValue = "" ] attribute previous { string "" }?,
  [ a:defaultValue = "" ] attribute next { string "" }?
attlist.BooleanToggle &=
  [ a:defaultValue = "" ] attribute set_boolean { string "" }?
attlist.BooleanTrigger &=
  [ a:defaultValue = "" ] attribute set_triggerTime { string "" }?,
  [ a:defaultValue = "" ] attribute triggerTrue { string "" }?
attlist.Collision &=
  [ a:defaultValue = "" ] attribute collideTime { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?
attlist.ColorInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.CoordinateInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.CoordinateInterpolator2D &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.CylinderSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isOver { string "" }?,
  [ a:defaultValue = "" ] attribute rotation_changed { string "" }?,
  [ a:defaultValue = "" ] attribute trackPoint_changed { string "" }?
attlist.ElevationGrid &=
  [ a:defaultValue = "" ] attribute set_height { string "" }?
attlist.Extrusion &=
  [ a:defaultValue = "" ] attribute set_crossSection { string "" }?,
  [ a:defaultValue = "" ] attribute set_orientation { string "" }?,
  [ a:defaultValue = "" ] attribute set_scale { string "" }?,
  [ a:defaultValue = "" ] attribute set_spine { string "" }?
attlist.Fog &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.IndexedFaceSet &=
  [ a:defaultValue = "" ] attribute set_colorIndex { string "" }?,
  [ a:defaultValue = "" ] attribute set_coordIndex { string "" }?,
  [ a:defaultValue = "" ] attribute set_normalIndex { string "" }?,
  [ a:defaultValue = "" ] attribute set_texCoordIndex { string "" }?
attlist.IndexedLineSet &=
  [ a:defaultValue = "" ] attribute set_colorIndex { string "" }?,
  [ a:defaultValue = "" ] attribute set_coordIndex { string "" }?
attlist.IndexedTriangleFanSet &=
  [ a:defaultValue = "" ] attribute set_index { string "" }?
attlist.IndexedTriangleSet &=
  [ a:defaultValue = "" ] attribute set_index { string "" }?
attlist.IndexedTriangleStripSet &=
  [ a:defaultValue = "" ] attribute set_index { string "" }?
attlist.IntegerSequencer &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?,
  [ a:defaultValue = "" ] attribute previous { string "" }?,
  [ a:defaultValue = "" ] attribute next { string "" }?
attlist.IntegerTrigger &=
  [ a:defaultValue = "" ] attribute set_boolean { string "" }?,
  [ a:defaultValue = "" ] attribute triggerValue { string "" }?
attlist.KeySensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute keyPress { string "" }?,
  [ a:defaultValue = "" ] attribute keyRelease { string "" }?,
  [ a:defaultValue = "" ] attribute actionKeyPress { string "" }?,
  [ a:defaultValue = "" ] attribute actionKeyRelease { string "" }?,
  [ a:defaultValue = "" ] attribute altKey { string "" }?,
  [ a:defaultValue = "" ] attribute controlKey { string "" }?,
  [ a:defaultValue = "" ] attribute shiftKey { string "" }?
attlist.LoadSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isLoaded { string "" }?,
  [ a:defaultValue = "" ] attribute loadTime { string "" }?,
  [ a:defaultValue = "" ] attribute progress { string "" }?
attlist.MovieTexture &=
  [ a:defaultValue = "" ] attribute elapsedTime { string "" }?,
  [ a:defaultValue = "" ] attribute duration_changed { string "" }?,
  [ a:defaultValue = "" ] attribute isPaused { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?
attlist.NavigationInfo &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.NormalInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.OrientationInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.PlaneSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isOver { string "" }?,
  [ a:defaultValue = "" ] attribute trackPoint_changed { string "" }?,
  [ a:defaultValue = "" ] attribute translation_changed { string "" }?
attlist.PositionInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.PositionInterpolator2D &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.ProximitySensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute position_changed { string "" }?,
  [ a:defaultValue = "" ] attribute orientation_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute centerOfRotation_changed { string "" }?,
  [ a:defaultValue = "" ] attribute enterTime { string "" }?,
  [ a:defaultValue = "" ] attribute exitTime { string "" }?
attlist.ScalarInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.SphereSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isOver { string "" }?,
  [ a:defaultValue = "" ] attribute rotation_changed { string "" }?,
  [ a:defaultValue = "" ] attribute trackPoint_changed { string "" }?
attlist.StringSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute enteredText { string "" }?,
  [ a:defaultValue = "" ] attribute finalText { string "" }?
attlist.TextureBackground &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.TimeSensor &=
  [ a:defaultValue = "" ] attribute elapsedTime { string "" }?,
  [ a:defaultValue = "" ] attribute cycleTime { string "" }?,
  [ a:defaultValue = "" ] attribute fraction_changed { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isPaused { string "" }?,
  [ a:defaultValue = "" ] attribute time { string "" }?
attlist.TimeTrigger &=
  [ a:defaultValue = "" ] attribute set_boolean { string "" }?,
  [ a:defaultValue = "" ] attribute triggerTime { string "" }?
attlist.TouchSensor &=
  [ a:defaultValue = "" ] attribute hitNormal_changed { string "" }?,
  [ a:defaultValue = "" ] attribute hitPoint_changed { string "" }?,
  [ a:defaultValue = "" ] attribute hitTexCoord_changed { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isOver { string "" }?,
  [ a:defaultValue = "" ] attribute touchTime { string "" }?
attlist.Viewpoint &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.VisibilitySensor &=
  [ a:defaultValue = "" ] attribute enterTime { string "" }?,
  [ a:defaultValue = "" ] attribute exitTime { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?
attlist.EspduTransform &=
  [ a:defaultValue = "" ] attribute isStandAlone { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkReader { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkWriter { string "" }?,
  [ a:defaultValue = "" ] attribute isRtpHeaderHeard { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute timestamp { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue0 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue1 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue2 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue3 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue4 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue5 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue6 { string "" }?,
  [ a:defaultValue = "" ]
  attribute set_articulationParameterValue7 { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue0_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue1_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue2_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue3_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue4_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue5_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue6_changed { string "" }?,
  [ a:defaultValue = "" ]
  attribute articulationParameterValue7_changed { string "" }?,
  [ a:defaultValue = "" ] attribute isCollided { string "" }?,
  [ a:defaultValue = "" ] attribute collideTime { string "" }?,
  [ a:defaultValue = "" ] attribute isDetonated { string "" }?,
  [ a:defaultValue = "" ] attribute detonateTime { string "" }?,
  [ a:defaultValue = "" ] attribute firedTime { string "" }?,
  [ a:defaultValue = "" ] attribute geoCoords_changed { string "" }?
attlist.ReceiverPdu &=
  [ a:defaultValue = "" ] attribute isStandAlone { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkReader { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkWriter { string "" }?,
  [ a:defaultValue = "" ] attribute isRtpHeaderHeard { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute timestamp { string "" }?
attlist.SignalPdu &=
  [ a:defaultValue = "" ] attribute isStandAlone { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkReader { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkWriter { string "" }?,
  [ a:defaultValue = "" ] attribute isRtpHeaderHeard { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute timestamp { string "" }?
attlist.TransmitterPdu &=
  [ a:defaultValue = "" ] attribute isStandAlone { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkReader { string "" }?,
  [ a:defaultValue = "" ] attribute isNetworkWriter { string "" }?,
  [ a:defaultValue = "" ] attribute isRtpHeaderHeard { string "" }?,
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute timestamp { string "" }?
attlist.GeoElevationGrid &=
  [ a:defaultValue = "" ] attribute set_height { string "" }?
attlist.GeoPositionInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?,
  [ a:defaultValue = "" ] attribute geovalue_changed { string "" }?
attlist.GeoTouchSensor &=
  [ a:defaultValue = "" ] attribute isActive { string "" }?,
  [ a:defaultValue = "" ] attribute isOver { string "" }?,
  [ a:defaultValue = "" ] attribute touchTime { string "" }?,
  [ a:defaultValue = "" ] attribute hitGeoCoord_changed { string "" }?,
  [ a:defaultValue = "" ] attribute hitNormal_changed { string "" }?,
  [ a:defaultValue = "" ] attribute hitPoint_changed { string "" }?,
  [ a:defaultValue = "" ] attribute hitTexCoord_changed { string "" }?
attlist.GeoViewpoint &=
  [ a:defaultValue = "" ] attribute set_bind { string "" }?,
  [ a:defaultValue = "" ] attribute set_orientation { string "" }?,
  [ a:defaultValue = "" ] attribute set_position { string "" }?,
  [ a:defaultValue = "" ] attribute bindTime { string "" }?,
  [ a:defaultValue = "" ] attribute isBound { string "" }?
attlist.NurbsOrientationInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.NurbsPositionInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute value_changed { string "" }?
attlist.NurbsSurfaceInterpolator &=
  [ a:defaultValue = "" ] attribute set_fraction { string "" }?,
  [ a:defaultValue = "" ] attribute normal_changed { string "" }?,
  [ a:defaultValue = "" ] attribute position_changed { string "" }?
